.container{
  background-image: url("../../../assets/background.jpg");
}
.welcome-overly{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  height: 100%;
  background: rgba(0, 19, 31, 0.6);
}
h2 {
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 20px;
}
.signup-container {
  background-color: rgba(26,26,45,0.8);
  box-shadow: 0px 2px 5px var(--hover-shadow);
  padding: 20px;
  border-radius: 8px;
  width: 450px;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
}

.input-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #555;
  background-color: #222;
  color: #fff;
  font-size: 14px;
  transition: border-color 0.3s ease-in-out;
}

input:focus {
  border-color: #457EE8;
  outline: none;
}

.signup-btn {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #457EE8;
  color: #fff;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.signup-btn:hover {
  background-color: #3765BB;
}

.error {
  color: rgb(231, 55, 55);
  font-size: 12px;
  margin-top: 5px;
  height: 20px;
}

#already {
  text-align: center;
  margin-top: 15px;
  color: var(--text-color);
}

#already a {
  color: #457EE8;
  text-decoration: none;
  font-weight: bold;
}

#already a:hover {
  color: #3765BB;
}
.signup-logo{
  display: flex;
  justify-content: center;
  margin-bottom: 6px;
}
.signup-logo img{
  width: 100px;
  height: 100px;
}

.input-group {
  width: 100%;
  position: relative;
  margin-bottom: 15px;
}

.password-container {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
}

.password-container input {
  width: 100%;
  padding-right: 40px; /* Space for the eye icon */
}

.toggle-icon {
  position: absolute;
  right: 10px;
  cursor: pointer;
  font-size: 18px;
  color: gray;
}

.otp-container {
  margin-top: 20px;
  text-align: center;
  color: #f1f1f1;
}

.otp-input-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.otp-input {
  width: 50px;
  padding: 10px;
  margin: 5px 0;
  font-size: 18px;
  text-align: center;
  border: 1px solid #555;
  border-radius: 5px;
  background-color: #222;
  color: #fff;
}

.otp-input:focus {
  border-color: #457ee8;
  outline: none;
}

.verify-btn {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #457ee8;
  color: #fff;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.verify-btn:hover {
  background-color: #3765bb;
}


@media (max-width: 1024px) {
  .signup-container {
    width: 450px;
 

  }

  input {
    font-size: 16px; 
  }

  .signup-btn {
    font-size: 18px;
  }
  .otp-container {
    margin-top: 20px;
    text-align: center;
    color: #f1f1f1;
    width: 40 0px;
  }
}

@media (max-width: 768px) {
  .signup-container {
    width:400px ; 

  }
  h2 {
    font-size: 18px; 
  }


  input {
    font-size: 14px; 
  }

  .signup-btn {
    font-size: 16px; 
  }
  .otp-container {
 
  width: 350px;
}
.verify-btn{
  width: 300px;
}

}

@media (max-width: 480px) {
  .signup-container {
    width: 330px; 
    
  }

  h2 {
    font-size: 16px; 
  }

  input {
    font-size: 12px; 
    padding: 12px; 
  }

  .signup-btn {
    font-size: 14px; 
    padding: 12px; 
  }
  .signup-logo img{
    width: 75px;
    height: 75px;
  }
  .otp-container {
   
    width: 290px;
  }
  .verify-btn{
    width: 250px;
  }
}
@media (max-width: 376px) {
  .signup-container {
    width: 275px; 
    min-height: 300px;
    /* padding: 12px;  */
    padding-top: 4px;
    padding-bottom: 4px;
  
  }

  h2 {
    font-size: 14px; 
  }

  input {
    font-size: 8px; 
    padding: 6px; 
  }

  .signup-btn{
    font-size: 12px; 
    padding: 10px; 
  }
  #already {
    text-align: center;
    margin-top: 13px;
    font-size: 12px;
  }
  #already a {
    color: #457EE8;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
  }
  #already a:hover {
    color: #3765BB;
  }
  .signup-logo img{
    width: 60px;
    height: 60px;
  }
  .otp-container {
    margin-top: 20px;
    text-align: center;
    color: #f1f1f1;
    width: 230px;
  }
  .verify-btn{
    width: 190px;
  }
}
#already {
  text-align: center;
  margin-top: 15px;
}
#already a {
  color: #457EE8;
  text-decoration: none;
  font-weight: bold;
}
#already a:hover {
  color: #3765BB;
}

