.container{
  background-image: url("../../../assets/img/Home/background.jpg");
}
.welcome-overly{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  height: 100%;
  background: rgba(0, 19, 31, 0.6);
}
.auth-heading{
  text-align: center;
  color: var(--primary-color);
  margin-bottom: 0.1rem;
}

.signup-container {
  background-color: rgba(26,26,45,0.8);
  box-shadow: 0px 2px 5px var(--hover-shadow);
  padding: 20px;
  border-radius: 8px;
  width: 30rem;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
  margin-top: 2rem;
}

.input-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.input-text{
  width: 100%;
  padding: 0.7rem;
  border-radius: 5px;
  border: 1px solid #555;
  /* background-color: #222; */
  color: #fff;
  font-size: 1rem;
  transition: border-color 0.3s ease-in-out;
}

.input-text:focus {
  border-color: #457EE8;
  outline: none;
}

.input-text:disabled{
  cursor: not-allowed;
  background: rgb(167, 170, 175);
  opacity: 0.5;
}

.signup-btn {
  width: 100%;
  padding: 10px;
  border: none;
  background: linear-gradient(45deg, var(--primary-color), var(--secondary-color));
  color: #fff;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.signup-btn:hover {
  background: linear-gradient(45deg, var(--secondary-color), var(--primary-color));
}
.edit-icon{
  width: 3rem;
  padding: 0.3rem;
  background: linear-gradient(45deg, var(--secondary-color), var(--primary-color));
  border: var(--primary-color);
  border-radius: 0.2rem;
  color: var(--text-color);
  left: 86%;
  position: relative;
}
.edit-icon:hover{
  /* background: linear-gradient(45deg, var(--primary-color), var(--secondary-color)); */
  background: none;
  size: 20px;
  /* color: var(--text-color); */
  color: var(--primary-color);
  box-shadow: 0 6px 30px var(--hover-shadow);
}
.error {
  color: rgb(231, 55, 55);
  font-size: 12px;
  margin-top: 5px;
  height: 20px;
}

#already {
  text-align: center;
  margin-top: 15px;
  color: var(--text-color);
}

#already a {
  color: #457EE8;
  text-decoration: none;
  font-weight: bold;
}

#already a:hover {
  color: #3765BB;
}
.signup-logo{
  display: flex;
  justify-content: center;
  margin-bottom: 6px;
}
.signup-logo img{
  width: 100px;
}

.input-group {
  width: 100%;
  position: relative;
  margin-bottom: 15px;
}

.password-container {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
}

.toggle-icon {
  position: absolute;
  right: 10px;
  cursor: pointer;
  font-size: 18px;
  color: gray;
}

.otp-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-color);
  margin-top: 1rem;
}

.otp-input-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1rem;
  gap: 1vw;
}

.otp-input {
  width: 2.5rem;
  padding: 10px;
   margin: 5px 0; 
  font-size: 1rem;
  text-align: center;
  border: 1px solid #555;
  border-radius: 5px;
  background-color: #222;
  color: #fff;
}

.otp-input:focus {
  border-color: #457ee8;
  outline: none;
}
.resend-btn {
  margin-top: 10px;
  background: none;
  border: none;
  color: var(--primary-color);
  font-weight: 600;
  cursor: pointer;
  left: -8.5rem;
  position: relative;
  text-decoration: underline;
}

.resend-btn:hover{
  color: var(--text-color);
  font-weight: 500;
}
.resend-btn:disabled {
  color: rgb(151, 161, 185);
  cursor: not-allowed;
}

.verify-btn {
  width: 40%;
  padding: 0.6rem;
  border: none;
  background: linear-gradient(45deg, var(--primary-color), var(--secondary-color));
  color: #fff;
  font-size: 0.8rem;
  border-radius: 0.4rem;
  cursor: pointer;
  margin-top: 1rem;
  /* position: relative; */
  /* left: 7rem; */
}

.verify-btn:hover {
  background: linear-gradient(45deg, var(--secondary-color), var(--primary-color));
}


@media (max-width: 1024px) {
  .signup-container {
    width: 450px;
  }

  .input-text{
    font-size: 0.9rem; 
    /* padding: 6px;  */
  }

  .signup-btn {
    font-size: 18px;
  }
  .resend-btn{
    font-size: 0.7rem;
  }
}

@media (max-width: 768px) {
.auth-heading {
    font-size: 1.5rem; 
  }
  .input-text{
    font-size: 0.8rem; 
    /* padding: 6px;  */
  }
  .signup-btn {
    font-size: 16px; 
  }
  .otp-container {
 
  width: 350px !important;
}
.verify-btn{
  width: 300px;
}

.resend-btn{
  font-size: 0.7rem;
}

}

@media (max-width: 480px) {
  .signup-container {
    width: 330px; 
    
  }

  .auth-heading {
    font-size: 1.5rem; 
  }

  .input-text {
    font-size: 0.8rem; 
    padding: 12px; 
  }

  label{
    font-size: 1.2rem;
  }

  .signup-btn {
    font-size: 14px; 
    padding: 12px; 
  }
  .signup-logo img{
    width: 75px;
    height: 75px;
  }
  .otp-container {
    width: 290px !important;
  }
  .verify-btn{
    width: 250px;
  }
  .resend-btn{
    left: -5.5rem;
  }
}
@media (max-width: 376px) {
  .signup-container {
    width: 275px; 
    min-height: 300px;
    /* padding: 12px;  */
    padding-top: 4px;
    padding-bottom: 4px;
  
  }

  .auth-heading {
    font-size: 1.3rem; 
  }
  .input-text{
    font-size: 0.8rem; 
    /* padding: 6px;  */
  }

  .signup-btn{
    font-size: 12px; 
    padding: 10px; 
  }
  #already {
    text-align: center;
    margin-top: 13px;
    font-size: 12px;
  }
  #already a {
    color: #457EE8;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
  }
  #already a:hover {
    color: #3765BB;
  }
  .signup-logo img{
    width: 60px;
    height: 60px;
  }
  .otp-container {
    margin-top: 20px;
    text-align: center;
    color: #f1f1f1;
    width: 230px !important;
  }
  .otp-input{
    width: 30px;
  }
  
  .verify-btn{
    width: 190px;
  }
  .resend-btn{
    left: -4.0rem;
  }
}
#already {
  text-align: center;
  margin-top: 15px;
}
#already a {
  color: #457EE8;
  text-decoration: none;
  font-weight: bold;
}
#already a:hover {
  color: #3765BB;
}

