/* **** IMP NOTE ****
*Input-text css is come from the signup page css
*/

.container{
  background: url("../../../assets/background.jpg");
}
.welcome-overly{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  height: 100%;
  background: rgba(0, 19, 31, 0.6);
}
.forgot-title {
  text-align: center !important;
  color: #FFFFFF !important;
  margin-bottom: 20px !important;
  margin-top: 20px !important;
}
.forgot-container {
  background-color: rgba(26,26,45,0.8);
  box-shadow: 0px 2px 5px var(--hover-shadow);
  padding: 20px;
  border-radius: 8px;
  width: 370px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
  position: relative;
}
.input-group {
  margin-bottom: 15px;
}
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.forgot-btn {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #457EE8;
  color: #fff;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}
.forgot-btn:hover {
  background-color:  #3765BB;
}
.error {
  color: rgb(231, 55, 55);
  font-size: 12px;
  margin-top: 5px;
  height: 20px;
}
.login-link {
  text-align: center;
  margin-top: 15px;
}
.login-link a {
  color: #FF5722;
  text-decoration: none;
}
.login-link a:hover {
  text-decoration: underline;
}
.back-btn {
  position: absolute;
  top: 9px; 
  left: 10px; 
  width: 25px; 
  height: 25px;
  border: none;
  background-color: #457EE8;
  color: #fff;
  font-size: 20px;
  border-radius: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
  padding: 0;
}
.back-btn:hover {
  background-color: #3765BB;
}
.forgot-logo-container{
  display: flex;
  justify-content: center;
  position: relative;
}
.forgot-subtitle{
  font-size: 15px;
  text-align: center;
  margin-bottom: 14px;
  color: #D0D3D7;
}
.horizontal-line {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 35px 0;
}
.horizontal-line::before,
.horizontal-line::after {
  content: "";
  flex-grow: 1;
  border-top: 1px solid #c2c3c4;
}
.horizontal-line span {
  padding: 0 10px; 
  color: #c2c3c4;
  font-weight: bold;
}
.create-link{
  display: flex;
  justify-content: center;
}
.create-link a{
  color: var(--primary-color);
  text-decoration: none;
  font-weight: bold;
}
.create-link a:hover{
  color: var(--primary-color);
  font-weight: lighter;
}
.lock-logo{
  color: var(--text-color);
}

.err-msg{
  color: #FF5722;
}

@media (max-width: 1024px) {
  .forgot-container {
    width: 370px;
  }
  .forgot-btn {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .forgot-container {
    width:320px ; 

  }

  .forgot-btn {
    font-size: 16px; 
  }
}

@media (max-width: 480px) {
  .forgot-container {
    width: 270px; 
    
  }
  input {
    font-size: 12px; 
    padding: 12px; 
  }

  .forgot-btn {
    font-size: 14px; 
    padding: 12px; 
  }
  .lock-logo{
    width: 60px;
    height: 60px;
    margin-top: 6px;
  }
  .forgot-subtitle{
    font-size: 12px;

  }
}
@media (max-width: 376px) {
  .forgot-container {
    width: 250px; 
    min-height: 300px;
    /* padding: 12px;  */
    padding-top: 4px;
    padding-bottom: 4px;
  }

  label{
    font-size: 14px;
  }

  .forgot-btn {
    font-size: 12px; 
    padding: 10px; 
  }
  .lock-logo{
    width: 60px;
    height: 60px;
    margin-top: 6px;
  }
  .forgot-subtitle{
    font-size: 12px;
  }
}