.forgot-title {
  text-align: center !important;
  color: #FFFFFF !important;
  margin-bottom: 20px !important;
  margin-top: 20px !important;
}
.forgot-container {
  background-color: #333;
  padding: 20px;
  border-radius: 8px;
  width: 370px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box; /* Prevent resizing based on content */
  position: relative;
}
/* Ensure form container size doesn't change */
.input-group {
  margin-bottom: 15px;
}
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #555;
  background-color: #222;
  color: #fff;
  font-size: 14px;
  transition: border-color 0.3s ease-in-out;
}
input:focus {
  border-color: #457EE8;
  outline: none;
}
button {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #457EE8;
  color: #fff;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}
button:hover {
  background-color:  #3765BB;
}
.error {
  color: rgb(231, 55, 55);
  font-size: 12px;
  margin-top: 5px;
  height: 20px; /* Fixed height for error messages */
}
.login-link {
  text-align: center;
  margin-top: 15px;
}
.login-link a {
  color: #FF5722;
  text-decoration: none;
}
.login-link a:hover {
  text-decoration: underline;
}
.back-btn {
  position: absolute;
  top: 1px; /* Adjust position from top */
  left: 10px; /* Adjust position from left */
  width: 25px; /* Button size */
  height: 25px; /* Button size */
  border: none;
  background-color: #457EE8;
  color: #fff;
  font-size: 20px; /* Adjust font size to fit the button */
  border-radius: 60%; /* Makes the button round */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
  padding: 0; /* Remove any extra padding */
}
/* Hover effect for back button */
.back-btn:hover {
  background-color: #3765BB;
}
.logo-container{
  display: flex;
  justify-content: center;
}
.forgot-subtitle{
  font-size: 15px;
  text-align: center;
  margin-bottom: 14px;
  color: #D0D3D7;
}
.horizontal-line {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 35px 0;
}
.horizontal-line::before,
.horizontal-line::after {
  content: "";
  flex-grow: 1;
  border-top: 1px solid #c2c3c4; /* Adjust the color and thickness of the line */
}
.horizontal-line span {
  padding: 0 10px; /* Space between the lines and the text */
  color: #c2c3c4; /* Text color */
  font-weight: bold;
}
.create-link{
  display: flex;
  justify-content: center;
}
.create-link a{
  color:#D0D3D7;
  text-decoration: none;
  font-weight: bold;
}
.create-link a:hover{
  color: #c5d5e6;
  font-weight: lighter;
}