.page-container {
  background-color: var(--background-color);

  display: flex;
  justify-content: center;
  align-items: flex-start; 
  padding-top: 3rem; 
}

.feedback-container {
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 800px;
    margin: 20px;
  }
  .feedback-form {
    display: flex;
    flex-direction: column;
  }

  .feedback-description {

        font-size: 20px;
        font-weight: 200 ;
        font-style: italic;
        color: #d8e3f1;
        text-align: center;
        margin-bottom: 15px;
        padding: 10px;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 8px;
    }
    
  .feedback-label {
    font-size: 1rem;
    color: #f1f1f1;
    font-weight: 600;
    margin-bottom: 0.5rem;
    display: block;
  }
  
  .feedback-select, 
  .feedback-textarea {
    width: 100%;
    padding: 0.5rem;
    border: 0.1rem solid var(--primary-color);
    border-radius: 0.375rem;
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: 1rem;
    margin-bottom: 1rem;
    resize: none;
  }
  .feedback-textarea{
    height: 100px;
  }
  
  .feedback-select:focus,
  .feedback-textarea:focus {
    outline: none;
    border-color: var(--secondary-color);
  }
  
   .comment-container {
    margin-bottom: 1rem;
  }
  .rating-container{
    display: flex;
    gap: 4px;
    margin-bottom: 6px;
    align-items: center;
  }
  .star {
    font-size: 1.5rem;
    color: #6b7280;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  .star.filled {
    color: var(--primary-color);
  }
  
  .btn-container {
    display: flex;  
    gap: 10px;
    justify-content: right;
  }
  
  .feedback-button {
    background: linear-gradient(45deg, var(--secondary-color), var(--primary-color));
    border: none;
    color: var(--text-color);
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 0.375rem;
    cursor: pointer;
 
  }
  
  .feedback-button:hover {

    background: var(--secondary-color);
  }
  
  @media (max-width: 480px) {
    .page-container {
      width: 100%;
    }
  }