/* 
/* 
.genre-detailpage-container {
    background-color: var(--background-color);
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.movies-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
    gap: 15px; 
  }
  
.genre-swiper {
    display: flex;
    justify-content: flex-start;
    margin-left: 5rem;
}
.genre-name{
    display: flex;
    flex-direction: column;
    gap:40px
}

.movies-swiper {
    width: 100%;
    height: auto !important;
    padding: 10px;
    position: relative;
}

.movies-swiper .swiper-slide {
    width: 220px !important; 
    height: 350px !important; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem; 
    transition: transform 0.3s ease-in-out;
}

.genre-title {
    font-size: 2rem;
    font-weight: bold;
    color: var(--text-color);
    text-align: left;
    margin-left: 40px;
    margin-bottom: 20px;
}

.genre-detail-heading {
    color: #0073e6;
    margin-top: 30px;
    margin-left: 5rem;
    font-size: 1.5rem;
    font-weight: bolder;
}

.genre-detail-heading h3 {
    color: #0073e6;
}

.movies-swiper .swiper-button-next,
.movies-swiper .swiper-button-prev {
    color: white;
    font-size: 20px;
}


.movies-swiper .swiper-slide:hover {
    transform: scale(1.05);
}

.genre-series-conatiner{
    display: flex;
}
.image-not-found{
    height: 30rem;
    margin: 20%;
} */
*/