/* Home Page Container */
.home-container {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  min-height: 100vh;
}


/* Content Layout */
.content-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 16.25rem; /* 260px → 16.25rem */
  padding: 2rem;
}

/* Swiper Section */
.section-container {
  width: 100%;
  margin-left: 7rem; /* Adjust this if necessary */
  margin-bottom: 1.25rem;
  margin-top: 2rem;
  overflow: hidden; /* Prevents any unexpected overflow issues */
}

.home-popular-movies {
  color: #0079e6;
  font-size: 2rem;
  margin-top: 4px;
  margin-bottom: 0.7rem;
}
/* Movies Grid */
.grid-container {
  width: 100%;
  margin-left: 5rem; /* Match the left margin with .section-container */
  padding: 1rem 2rem;
  margin-top: 1.25rem; /* 20px → 1.25rem */
}

/* Fix Footer Issue */
.footer {
  margin-top: auto;
}

/* Loading Spinner */
.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--background-color);
}

.loading-spinner {
  width: 4rem; /* 64px → 4rem */
  height: 4rem;
  border: 0.375rem solid rgba(255, 255, 255, 0.2); /* 6px → 0.375rem */
  border-top-color: var(--primary-color);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* Section Titles */
.section-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: white;
}
/* Apply the same styles to Swiper */
.mySwiper {
  width: 100%;
  height: 100%;
}

/* Swiper slides */
.mySwiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: transform 0.3s ease-in-out;
}

/* Swiper Navigation */
.swiper-button-next,
.swiper-button-prev {
  display: flex;
  color: #ffffff;
  font-weight: bold;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  transition: opacity 0.3s ease-in-out, font-size 0.3s ease-in-out;
}

.swiper-button-next {
  right: 10px;
}

.swiper-button-prev {
  left: 10px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 30px;
}

/* Adjust navigation buttons on smaller screens */
@media (max-width: 1024px) {
  .swiper-button-next,
  .swiper-button-prev {
      font-size: 24px !important;
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
      font-size: 24px !important;
  }
}

@media (max-width: 768px) {
  .swiper-button-next,
  .swiper-button-prev {
      font-size: 16px;
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
      font-size: 16px !important;
  }
}

@media (max-width: 480px) {
  .swiper-button-next,
  .swiper-button-prev {
      font-size: 14px;
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
      font-size: 14px !important;
  }
}
