.container1{
    display: flex;
    justify-content: center;
    background-color: var(--background-color);
    min-height: 100vh;
    height: auto;
    width: 100vw;
    align-items: center;
    padding: 20px;
    overflow-y: auto;
    flex-direction: column;
}
.add-movie-container {
    width: 80vw;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    color: #ffffff;
    border-radius: 10px;
    background-color: rgba(26,26,45,0.8);
    box-shadow: 0px 2px 5px var(--hover-shadow);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .admin-h2 {
    text-align: center;
    font-size: 35px;
    margin-bottom: 30px;
    color: var(--primary-color);
  }
  .fields-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    width: 100%;
  }
  .fields-one{
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .fields-two{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
  
  label {
    font-weight: bold;
  }
  
  .add-movie-input{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: rgba(51, 51, 51, 0.3);
    color: white;
  }
  input[type=file]::file-selector-button {
    border: 2px solid #4da4df;
    padding: .2em .4em;
    border-radius: .2em;
    background-color: #6da3d6;
    cursor: pointer;
  }
  input[type=file]::file-selector-button:hover {
    background-color: #51afdb;
    border: 2px solid #4da4df;
  }
  
  .buttons-container {
    margin-top: 20px;
    justify-content: space-between;
    width: 100%;
  }
  .save-btn-movie,.close-btn-movie {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  .save-btn-movie {
    background: #0073e6;
    color: white;
  }

  .save-btn-movie:hover {
    background: #0059b3;
  }
  .save-btn-movie:disabled{
    background-color: #88add1;
    cursor: not-allowed;
  }
  
  .close-btn-movie {
    background: grey;
    color: white;
  }
  
  .close-btn-movie:hover {
    background: #666;
  }
  ::-webkit-calendar-picker-indicator  {
    filter: invert(1);
  }
  .text-desc{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: rgba(51, 51, 51, 0.3);
    color: white;
    resize: none;
    height:90px !important;
  }
  .movie-breadcrumb-container {
    width: 80vw;
    max-width: 1200px;
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #2c2f36;
    border-radius: 8px;
    display: flex;
    align-items: center;
  }
  @media (max-width:350px){
    .movie-breadcrumb-container{
      padding: 6px 14px;
    }
  }
  