.trending-movies {
  margin-left: 5rem;
  padding: 2rem;
  position: relative;
}

.trending-title {
  text-align: start;
  font-size: 2rem;
  font-weight: bold;
  color: var(--primary-color);
  margin-bottom: 1rem;
}

/* Swiper Custom Navigation Buttons */
.custom-prev,
.custom-next {
  position: absolute;
  top: 57%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.6);
  border: none;
  color: white;
  font-size: 0.5rem;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
  transition: background 0.3s ease;
}

.custom-prev {
  left: 75px;
}

.custom-next {
  right: 75px;
}

.custom-prev:hover,
.custom-next:hover {
  box-shadow: 0 4px 20px var(--text-color);
  background-color: var(--background-color);
}

/* Swiper Slider Adjustments */
.trending-slider {
  overflow: hidden;
}


