.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("../../../assets/background.jpg");
}
h2 {
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 20px;
}
.reset-container {
  background-color: rgba(26,26,45,0.8);
  box-shadow: 0px 2px 5px var(--hover-shadow);
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
}
.input-group {
  margin-bottom: 15px;
}
.img-container{
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.reset-logo{
  width: 80px;
  height: 80px;
}
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #555;
  background-color: #222;
  color: #fff;
  font-size: 14px;
  transition: border-color 0.3s ease-in-out;
}
input:focus {
  border-color: #457EE8;
  outline: none;
}
button {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #457EE8;
  color: #fff;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}
button:hover {
  background-color:  #3765BB;
}
.error {
  color: rgb(231, 55, 55);
  font-size: 12px;
  margin-top: 5px;
  height: 20px;
}
.login-link {
  text-align: center;
  margin-top: 15px;
}
.login-link a {
  color: #FF5722;
  text-decoration: none;
}
.login-link a:hover {
  text-decoration: underline;
}