/* **** IMP NOTE ****
*Input-text css is come from the signup page css
*/


.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("../../../assets/background.jpg");
}

.reset-container {
  background-color: rgba(26,26,45,0.8);
  box-shadow: 0px 2px 5px var(--hover-shadow);
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
}
.auth-title{
  color: #fff;
  text-align: center;
}
.input-group {
  margin-bottom: 15px;
}
.img-container{
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.reset-logo{
  width: 80px;
  height: 80px;
}
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
.reset-btn {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #457EE8;
  color: #fff;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}
.reset-btn:hover {
  background-color:  #3765BB;
}
.error {
  color: rgb(231, 55, 55);
  font-size: 12px;
  margin-top: 5px;
  height: 20px;
}
.login-link {
  text-align: center;
  margin-top: 15px;
}
.login-link a {
  color: #FF5722;
  text-decoration: none;
}
.login-link a:hover {
  text-decoration: underline;
}
.password-container {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
}



.toggle-icon {
  position: absolute;
  right: 10px;
  cursor: pointer;
  font-size: 18px;
  color: gray;
}
@media (max-width: 1024px) {
  .reset-container {
    width: 450px;
  }



  .reset-btn {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .reset-container {
    width:400px ; 
  }

  .reset-btn {
    font-size: 16px; 
  }
}

@media (max-width: 480px) {
  .reset-container {
    width: 330px; 
  }

  .reset-btn {
    font-size: 14px; 
    padding: 12px; 
  }
  .reset-logo{
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
    margin-top: 8px;
  }
  .reset-logo img{
    width: 70px;
    height: 70px;
  }
}
@media (max-width: 376px) {
  .reset-container {
    width: 275px; 
    min-height: 300px;
    /* padding: 12px;  */
    padding-top: 4px;
    padding-bottom: 4px;
  }

  label{
    font-size: 14px;
  }

  .reset-btn {
    font-size: 12px; 
    padding: 10px; 
  }
  .reset-logo{
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
    margin-top: 8px;
  }
  .reset-logo img{
    width: 60px;
    height: 60px;
  }
}