/* **** IMP NOTE ****
*Input-text css is come from the signup page css
*/


.container {
  background-image: url("../../../assets/img/Home/background.jpg");
}

.welcome-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  height: 100%;
  background: rgba(0, 19, 31, 0.6);
}


.login-container {
  background-color: rgba(26, 26, 45, 0.8);
  box-shadow: 0px 2px 5px var(--hover-shadow);
  padding: 20px;
  border-radius: 8px;
  width: 450px;

  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
}

.input-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: var(--text-color);
}



.login-btn {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #457EE8;
  color: #fff;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.login-btn:hover {
  background-color: #3765BB;
}

.error {
  color: rgb(231, 55, 55);
  font-size: 12px;
  margin-top: 5px;
  height: 20px;
}

.login-logo {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.login-logo img {
  width: 80px;
  height: 80px;
}

.forgot-link {
  text-align: end;
  margin-bottom: 0px;
  margin-top: 8px;
}

.forgot-link a {
  color: #457EE8;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
}

.forgot-link a:hover {
  color: #3765BB;
}

.signup-text {
  text-align: center;
  color: #EAEFF8;
  margin-top: 8px;
  font-size: 16px;
}

.signup-link a {
  margin-left: 7px;
  color: #457EE8;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

.signup-link a:hover {
  color: #3765BB;
}

.password-container {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
}

.input-text {
  width: 100%;
  padding-right: 40px;
  background-color: var(--hover-shadow);
  /* Space for the eye icon */
}

.toggle-icon {
  position: absolute;
  right: 10px;
  cursor: pointer;
  font-size: 18px;
  color: gray;
}
.message {
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
  font-weight: bold;
}

.success-msg {
  color:  #28a745;
  
}

.error-msg {
  color: #dc3545;
}


@media (max-width: 1024px) {
  .login-container {
    width: 450px;
  }

  input {
    font-size: 16px;
  }

  .login-btn {
    font-size: 18px;
  }

  .signup-link a {
    margin-left: 7px;
    color: #457EE8;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
  }

  .signup-text {
    text-align: center;
    color: #EAEFF8;
    margin-top: 8px;
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .login-container {
    width: 400px;

  }

  h2 {
    font-size: 18px;
  }


  input {
    font-size: 14px;
  }

  button {
    font-size: 16px; 
  }

  .signup-link a {
    margin-left: 7px;
    color: #457EE8;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
  }

  .signup-text {
    text-align: center;
    color: #EAEFF8;
    margin-top: 8px;
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .login-container {
    width: 330px;

  }

  h2 {
    font-size: 16px;
  }

  input {
    font-size: 12px;
    padding: 12px;
  }

  button {
    font-size: 14px; 
    padding: 12px; 
  }

  .login-logo {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
    margin-top: 8px;
  }

  .login-logo img {
    width: 70px;
    height: 70px;
  }

  .forgot-link a {
    color: #457EE8;
    text-decoration: none;
    font-size: 11px;
    font-weight: bold;
  }

  .signup-link a {
    margin-left: 7px;
    color: #457EE8;
    text-decoration: none;
    font-size: 10px;
    font-weight: bold;
  }

  .signup-text {
    text-align: center;
    color: #EAEFF8;
    margin-top: 8px;
    font-size: 11px;
  }
}

@media (max-width: 376px) {
  .login-container {
    width: 275px;
    min-height: 300px;
    /* padding: 12px;  */
    padding-top: 4px;
    padding-bottom: 4px;

  }

  h2 {
    font-size: 16px;
  }

  input {
    font-size: 1rem;
    padding: 6px;
  }

  label {
    font-size: 14px;
  }

  button {
    font-size: 12px; 
    padding: 10px; 
  }

  .login-logo {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
    margin-top: 8px;
  }

  .login-logo img {
    width: 60px;
    height: 60px;
  }

  .forgot-link a {
    color: #457EE8;
    text-decoration: none;
    font-size: 11px;
    font-weight: bold;
  }

  .signup-link a {
    margin-left: 7px;
    color: #457EE8;
    text-decoration: none;
    font-size: 10px;
    font-weight: bold;
  }

  .signup-text {
    text-align: center;
    color: #EAEFF8;
    margin-top: 8px;
    font-size: 11px;
  }
}