.watch-video-container{
    padding: 5rem;
    background-color: var(--background-color);
}
.video-player-heading{
    font-size: 2rem;
    padding: 2rem 0;
    background-color: var(--background-color);
}